body{
    margin: 0;
    .construction{
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

/** Header */
header{ 
    a{
        font-family: "Times New Roman", Times, serif;
        font-style: normal;
        text-transform: uppercase;
        color: black;
        display: inline-block;
        text-decoration: unset;

        &:hover {
            color: hotpink;
        }
    }

    h1{
        margin-left: 10px;
    }

    li{
        background-color: lightblue;
        list-style-type: none;
        display: flex;

        a{
            margin-left: 10px;
            margin-right: 10px;
            align-self: center;
            display: block;
        }
    }

}


.nav {
    background-color: blue;
    display: flex;
    align-items: stretch;
    justify-content: center;

    ul{
        display: flex;
        padding: 0; 
        margin: 0;
        flex: 1;
        justify-content: center;
        margin-left: -56px;
        width: 35px;
    }
}

.nav__cnt{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 80%;
}


footer{
    .footerText{
        background-color: brown;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
} 


