body{
    margin: 0;
}

body .construction{
    text-transform: uppercase;
}

/** Header */
header a{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    text-decoration: unset;
}

header a:hover {
    color: hotpink;
}

header h1{
    margin-left: 10px;
}

header li{
    background-color: lightblue;
    list-style-type: none;
    display: flex;
}

header li a{
    margin-left: 10px;
    margin-right: 10px;
    align-self: center;
    display: block;
}

/** Header Naviiation Bar*/

header .nav{
    
    background-color: hotpink;
    display: flex;
    align-items: stretch;
    justify-content: center;
}

/** Header Mouseover Dropdown */
header .dropNav{
    display: inline-block;
}

header .dropNav .cnt {
    position: relative;
    display: inline-block;
    background-color: azure;
    margin: 0 auto;
    font-weight: bold;
    font-family: 'ars-maquette-web','proxima-nova',sans-serif;
}


header .menuBtn {
    background-color: #14b3e4;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
}

header .dropNav .cnt .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffcece;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

header .dropNav .cnt .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

header .dropNav .cnt .dropdown-content a:hover {
    background-color: #ddd;
}
header .cnt:hover .dropdown-content {
    display: block;
}
header .cnt:hover .menuBtn {
    background-color: #3e8e41;
}

/** Header Nav List */
header .nav ul{
    display: flex;
    padding: 0;
    margin: 0;
    
}
