

.background{
        
    display: flex;
    align-items: stretch;
    justify-content: center;
    z-index: 1;
    //background-image: url("../img/redDeadRedemtion2.jpg");
    background-color: white;
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    flex: 1;
}

.main{
    display: inline-block;
    width: 60%;
}

.page-text{
    margin-left: 2vw;
}

.game__list{
    display: block;
    width: 100%;
    max-width: 100%;
}

.game__text{
    text-decoration: none;
    color: black;
}

.game-name{
    margin-left: 10px;
    font-size: xx-large;
    width: 100%;
    height: fit-content;
    color: black;
    text-decoration: unset;
}

.game__list__item{
    width: 100%;
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;

    &:hover{
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
}

.game__item{
    display: flex;
    margin-bottom: 10px;
    img{
        width: 100%;
    }
}

.game__img-holder{
    height:100%;
    width: 25%;
}

.system__list{
    list-style: none;
    display: flex;
}

.system__platform{
    margin-left: 10px;
    color: white;
    padding: 0px 5px;
}

.system__platform--xbox-one{
    background-color: green;
}
.system__platform--ps4{
    background-color: blue;
}
.system__platform--pc{
    background-color: black;
}


@media screen and (max-width: 1020px){
    body{
        .main{
            width: 100%;
        }

        .game__list__img-holder{
            width: 40%;
        }

        .game-name{
            font-size: large;
        }
    }
}