body{
    margin: 0;
    background-color: rgb(240, 240, 240);
    .construction{
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

/** Header */
header{ 
    background-color: black;
    h1{
        margin-left: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}

.nav__cnt__list{
    list-style-type: none;
    display: inline-block;
    border-left: 1px solid white;

        a{
            margin-left: 10px;
            margin-right: 10px;
            align-self: center;
            display: block;
            height: 25px;
            line-height: 25px;
        }

        &:last-child{
            border-right: 1px solid white;
        }
}

.mobile-menu{
    display: none;
    background-color: white;
    border-style: none;

    .mobile-menu--img{
        display: block;
        height: 10vw;
        width: 10vw;
        position: absolute;
        margin: 2vw;
    }
}

.mobile-nav{
    display: none;
    background-color: black;
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 15vw;

    ul{
        padding: 2vw;
    }

    &__list{
        list-style-type: none;

        a{
            align-self: left;
            display: block;
            border-bottom: 1px solid white;

            font-family: "Times New Roman", Times, serif;
            font-style: normal;
            font-size: 15vw;
            text-transform: uppercase;
            color: white;
            text-decoration: unset;
        }
    }
}

.top-bar{
    display: block;
    background-color: black;
    
}

.logo__holder{
    display: flex;
    margin: 0 auto;
    max-width: 70vw;
    padding: 9px 0;
}

.logo__img{
    height: 2vw;

    &:hover{
        cursor: pointer;
    }
}

.menu__item{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 1vw;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: unset;

    &:hover {
        text-decoration: underline;
        color: white;
    }
}


.nav {
    margin-left: 20px;
    ul{
        padding: 0; 
        margin: 0;
        flex: 1;
    }
}


/* FOOTER */
footer{
    background-color: lightgray;
} 

.footer__logo{
    height: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1020px) {
    header{
        height: 15vw;
        border-bottom: 1px solid black;

        .logo__img{
            height: 7vw;
            display: flex;
            justify-self: center;
        }
        
        .logo__holder{
            justify-content: center;
        }

        .nav{
            display: none;
        }

        .mobile-menu{
            display: block;
        }
    }
}