body{
    margin: 0;
    .construction{
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

/** Header */
header{ 
    background-color: white;
    h1{
        margin-left: 10px;
        &:hover{
            cursor: pointer;
        }
    }
}

.nav__cnt__list{
    list-style-type: none;
    display: inline-block;
        a{
            margin-left: 10px;
            margin-right: 10px;
            align-self: center;
            display: block;
        }
}

.mobile-menu{
    display: none;
    background-color: white;
    border-style: none;

    .mobile-menu--img{
        display: block;
        height: 10vw;
        width: 10vw;
        position: absolute;
        margin: 2vw;
    }
}

.mobile-nav{
    display: none;
    background-color: lightblue;
    z-index: 20;
    position: absolute;
    width: 100%;
    top: 15vw;

    ul{
        padding: 2vw;
    }

    &__list{
        background-color: #D60A07;
        list-style-type: none;

        a{
            align-self: left;
            display: block;
            border-bottom: 1px solid black;

            font-family: "Times New Roman", Times, serif;
            font-style: normal;
            font-size: 15vw;
            text-transform: uppercase;
            color: white;
            text-decoration: unset;
        }
    }
}



.logo__holder{
    display: flex;
    justify-content: left;
}

.logo__img{
    height: 6vw;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: unset;
    color: blue;
    word-spacing: 0.6vw;
    text-shadow: 3px 2px lightgrey;

    &:hover{
        cursor: pointer;
    }
}

.menu__item{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 2vw;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: unset;

    &:hover {
        color: black;
    }

    &--current{
        background-color: red;
    }
}


.nav {
    background-color: #f224f2;
    display: flex;
    align-items: stretch;
    justify-content: center;

    ul{
        display: flex;
        padding: 0; 
        margin: 0;
        flex: 1;
        justify-content: center;
        width: 35px;
    }
}

.nav__cnt{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 80%;
}

/* FOOTER */
footer{
    background-color: #D60A07;
} 

.footer__logo{
    background-color: #D60A07;
    height: 100%;
    display: flex;
    justify-content: center;
}


@media screen and (max-width: 1020px) {
    header{
        height: 15vw;
        border-bottom: 1px solid black;

        .logo__img{
            height: 10vw;
            display: flex;
            justify-self: center;
        }
        
        .logo__holder{
            justify-content: center;
        }

        .nav{
            display: none;
        }

        .mobile-menu{
            display: block;
        }
    }
}