body{
    margin: 0;
    .construction{
        text-transform: uppercase;
        display: flex;
        align-items: stretch;
        justify-content: center;
    }
}

/** Header */
header{ 

    background-color: white;
    h1{
        margin-left: 10px;
        &:hover{
            cursor: pointer;
        }
    }

    li{
        list-style-type: none;
        display: flex;
        a{
            margin-left: 10px;
            margin-right: 10px;
            align-self: center;
            display: block;
        }
    }
}

.logo{
    height: 6vw;
    font-size: xx-large;
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-transform: uppercase;
    text-decoration: unset;
    color: blue;
    word-spacing: 0.6vw;
    text-shadow: 3px 2px lightgrey;

    &:hover{
        cursor: pointer;
    }
}

.menu__item{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    font-size: 2vw;
    text-transform: uppercase;
    color: white;
    display: inline-block;
    text-decoration: unset;

    &:hover {
        color: black;
    }

    &--current{
        background-color: #FF403E;
    }
}


.nav {
    background-color: #D60A07;
    display: flex;
    align-items: stretch;
    justify-content: center;

    ul{
        display: flex;
        padding: 0; 
        margin: 0;
        flex: 1;
        justify-content: center;
        width: 35px;
    }
}

.nav__cnt{
    display: flex;
    align-items: stretch;
    justify-content: center;
    width: 80%;
}

/* FOOTER */
footer{
    background-color: #D60A07;
} 

.footer__logo{
    background-color: #D60A07;
    height: 100%;
    display: flex;
    justify-content: center;
}