.page-text{
    margin-left: 2vw;

}

.image-changing{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    &:hover .arrow__holder{
        display: flex;
    }

    &:hover .pause-button{
        display: block;
    }
}

.logo__image{
    background-color: hotpink;
    display: none;
    width: 100%;

    &--current{
        background-color: blue;
        display: block;
        border-style: solid;
        border-width: 5px;
        border-color: hotpink;
        box-sizing: border-box;
    }
}

.background{
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.main{
    width: 80%;
}

.grid-container{
    display: block;
    grid-template-columns: auto auto auto;
    justify-content: center;
    width: 100%;
    max-width: 100%;
}

.grid-item{
    width: 33.3333333%;
    height: 20vw;
    margin: 0.5%;
    display: inline-block;
    background-color: #FFC300;
    vertical-align: middle;
    display: inline-flex;
    flex-direction: column;
    padding: 1%;
    box-sizing: border-box;

    &--top-games{
        background-color: hotpink;
        width: 64.3333%;
    }
}

.analog-clock{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.top-games__img-holder{
    height: 100%;
    width: 100%;
    position: relative;
    background-image: url("../img/game-img/fallout-4.png");
    background-position: center;
    background-size: cover;
}

.top-games__img{
    width: 100%;
    top: -50%;
}

.top-games__cnt{
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-holder{
        font-size: 30px;
        background-color: rgba(0, 0, 0, 0.521);
        color: white;
        padding: 5px;
        position: absolute;
        z-index: 99;
    }
}

canvas#clock {
    height: 100%;
    align-self: flex-end;

}

.clock{
    align-items: stretch;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.time__text{
    margin: 0px;
    color: blue;

    &--top{
        margin: 0px;
        color: white;
        font-size: 34px;
        font-family: fantasy;
    }

    &--cnt{
        color: white;
        font-size: 23px;
    }
}


.clock__digital{
    color: blue;
}

.converter__text{
    text-align: center;
    margin-top: 5px;
}

.grid-tiem__time-converter{
    width: 64.3333%;
}

.converter__choose{
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
    font-size: 30px;

    option{
        text-align: center;
    }
}

.converter__holder{
    display: flex;
}

.converter-box{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 30px;

    select{
        height: 35px;
        color: black;
        background: lightgray;
    }

    input{
        font-size: 40px;
        text-align: center;
    }

    &:last-child{
        margin-right: 0;
        margin-left: 30px;
    }
}

.equal{
    font-size: 60px;
    margin-top: 10px;
    width: 20%;
    text-align: center;
}


.arrow{
    &__holder{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.425);
        display:none;
        border-style: none;
        &:hover {
            cursor: pointer;
        }
        &--left{
            left: 0;
        }

        &--right{
            right: 0;
        }
    }

    &__item{
        width: 5vw;
        height: 5vw;
        &--left{
            transform: scaleX(-1);
        }
        &--right{
            transform: scaleX(1);
        }
    }
}

.pause-button{
    position: absolute;
    border-style: none;
    min-width: 4vw;
    max-width: 5vw;
    align-self: flex-end;
    display: none;
    background-color: rgba(0, 0, 0, 0.425);
    
    &__img{
        height: 100%;
        width: 100%;
    }
    &:hover {
        cursor: pointer;
    }
}


@media screen and (max-width: 1020px) {
    .grid-container .grid-item{
        width: 97%;
        height: 50vw;
    }

    .converter__choose{
        font-size: 10px;
        height: 20px;
    }
    
    .converter-box{
        margin-right: 2vw;

        &:last-child{
            margin-left: 2vw;
        }

        input{
            font-size: 20px;
        }
    }

    .equal{
        margin-top: auto;
    }
  }
