<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="css/global.css">
    <link rel="stylesheet" href="css/time-converter.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div class="top-bar">
            <button class="mobile-menu" onclick="mobileMenu()">
                <img class="mobile-menu--img" src="img/mobile-menu-button.png">
            </button>
            <div class="logo">
                <img class="logo__img" src="img/top-logo-test.png" onclick="logoClick()">
                <div class="nav">
                    <div class="nav__cnt">
                        <ul>
                            <li class="nav__cnt__list" >
                                <a class="menu__item menu__item--current" href="index.html">Home</a>
                            <li class="nav__cnt__list" >
                                <a class="menu__item" href="about.html">about</a>
                            <li class="nav__cnt__list" >
                                <a class="menu__item" href="games.html">Games</a>
                            <li class="nav__cnt__list">
                                <div class="dropdown">
                                    <button id="dropdown__btn" onclick="myFunction()" class="dropbtn menu__item">Tools <i class="down"></i></button>
                                    <div id="myDropdown" class="dropdown-content">
                                        <a href="time-converter.html">Time Converter</a>
                                        <a href="clock.html">Clock</a>
                                    </div>
                                </div>

                            </li></li></li></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div id="mobile-nav" class="mobile-nav">
            <ul>
                <li class="mobile-nav__list"><a class="mobile-menu__item" href="index.html">Home</a>
                    <a class="mobile-menu__item" href="about.html">about</a>
                    <a class="mobile-menu__item" href="games.html">Games</a>
                    <div class="mobile-menu__item mobile-menu__innerDropdown">
                        <button class="mobile-menu__item mobile-menu__innerBtn" onclick="mobileDropdownTools()">Tools <i class="down"></i></button>
                        <ul>
                            <li id="mobile-menu__dropdown-cnt" class="mobile-nav__innerList">
                                <a class="mobile-menu__innerItem" href="time-converter.html">Time Converter</a>
                                <a class="mobile-menu__innerItem" href="clock.html">Clock</a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </header>

    <div class="background">
        <div class="main">
            <div class="time-display">
                Please Enter A Time
            </div>

            <div id="time-converter-holder" class="time-converter-holder">
                <div class="converter-box">
                    <input type="number" @input="onEdit(0)" v-model="fromValue"/>
                    <select v-model="from">
                            <option value="nanosecond">Nanosecond</option>
                            <option value="microsecond">Microsecond</option>
                            <option value="millisecond">Millisecond</option>
                            <option selected="selected" value="second">Second</option>
                            <option value="minute">Minute</option>
                            <option value="hour">Hour</option>
                            <option value="day">Day</option>
                    </select>
                    <p>From = {{ fromValue }} <br> 
                        Calculate = {{  }}
                    </p>
                </div>

                <div class="converter-box">
                    <input type="number" @input="onEdit(1)" v-model="convertetValue">
                    <select v-model="to">
                        <option value="nanosecond">Nanosecond</option>
                        <option value="microsecond">Microsecond</option>
                        <option value="millisecond">Millisecond</option>
                        <option selected="selected" value="second">Second</option>
                        <option value="minute">Minute</option>
                        <option value="hour">Hour</option>
                        <option value="day">Day</option>
                    </select>
                </div>
            </div>

            <img src="img/si-units.png">
            
        </div>
    </div>

    <footer>
        <div class="footer__logo">
            <p>Copyright &copy; 2018 The Rare Banana</p>
        </div>
    </footer> 
    <script src="scripts/time-converter.js"></script>
    <script src="scripts/global.js"></script>
</body>
</html>