body{
    margin: 0;
}

header a{
    font-family: "Times New Roman", Times, serif;
    font-style: normal;
    text-transform: uppercase;
    color: black;
    display: inline-block;
    text-decoration: unset;
}

header a:hover {
    color: hotpink;
}

header h1{
    margin-left: 10px;
}

header li{
    background-color: lightblue;
    list-style-type: none;
}

header li a{
    margin-left: 10px;
}




.dropbtn {
    background-color: #14b3e4;
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffcece;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

