* {
    box-sizing: border-box;
  }
  
  body{
      font: 15px/1.5 Arial, Helvetica,sans-serif;
      padding:0;
      margin:0;
      background-color:white;
    }
    
    .container{
      width:80%;
      margin:auto;
      overflow:hidden;
    }
    
    ul{
      margin:0;
      padding:0;
    }
    
    
    /* Header **/
    header{
      color:#bb2929;
      padding-top:30px;
      min-height:70px;
      border-bottom:#e8491d 3px solid;
    }
    
    header a{
      color:black;
      text-decoration:none;
      text-transform: uppercase;
      font-size:16px;
    }
    
    header li{
      display:inline;
      padding: 0 20px 0 20px;
    }
    
    header #branding{
      float:left;
      color: black;
    }
    
    header #branding h1{
      margin:0;
    }
    
    header nav{
      float:right;
      margin-top:10px;
    }
    
    header .highlight, header .current a{
      color: #e41e1e;
      font-weight:bold;
    }
    
    header a:hover{
      color:#130101;
      font-weight:bold;
    }
  
    /* footer */
    .class-footer, .main:after{
      height: 142px;
    }
    
    footer{
      padding:10px;
      
      color:#ffffff;
      background-color: #45b39d ;
      text-align: center;
    }
  
    /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
  @media only screen and (max-width: 768px) {
      /* For mobile phones: */
      [class*="col-"] {
          width: 100%;
      }
  
      header #branding,
      header nav,
      header nav li{
        float:none;
        text-align:center;
        width:100%;
      }
    
      header{
        padding-bottom:20px;
      }
  }
    