body{
    background-image: url("../img/colorBackGround.png");
    background-size: cover;
    
}

header{
    background-image: url("../img/headerMain.jpg");
    background-position-y: 75%;
    height: 150px;
    width: 100%;
    position: fixed;

}

canvas#clock {
    padding: 0px;
    width: 20%;
}


#branding{
    height: 0%;
}

.clock{
    margin-top: 200px;
    flex:0;
   
}

.info{
    text-align: center;
    
    background-color: #ad2b27d0;
    width: 300px;
    margin: 0 auto;
    margin-top: 300px;
}

.info p, .info h1{
    font-size: 50px;
    margin: 0;
    color: red;
}

footer{
    background-color: blue;
}

