.body__main{
    margin: 0;
}

/* Header */
.header{
    background: #68b6f0;
}

.logo__img{
    width: 500px;
    padding-left: 30px;
}

.nav{
    background: #5C708E;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav__li{
    list-style: none;
    float: left;
    font-size: 20px;
    padding-right: 20px;
}

.nav__link{
    color: white;
}



/* Main */
.background{
    display: flex;
    justify-content: center;
}

.main{
    width: 95%;
    margin: 10px 0px;
    background: lightgray;
}



/* Footer */
.footer{
    width: 100%;
    height: 100%;
    background: #5f6380;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    &__logo{
        font-size: 20px;
        margin: 5px;
        padding-bottom: 10px;
    }

    &__ul{
        text-align: left;
        padding: 0 100px;
    }

    &__list{
        padding: 10px;
        text-align: center;
        list-style: none;

        border-top: 1px solid white;

        &:last-child{
            border-bottom: 1px solid white;
        }
    }
} 

.footer__link{
    color: black;
    text-decoration: none;
    font-size: 15px;
    color: white;
}

.links{
    margin: 0px;
    width: 100%;
    color: white;

    display: flex;

    &__header{
        font-size: 20px;
        margin: 5px;
    }

    &__types{
        //margin-right: 40px;
        top: 0;
        flex: 1;
        color: white;
    }
}

@media screen and (max-width: 1020px) {
    .footer{
        .footer__ul{
            padding: 0 20px;
        }
    }
}